# Ignore everything in the project
*

# But do not ignore the Scripts folder
!/Assets/Scripts/
!/Assets/Scripts/**/*.cs

# Ignore Library, Temp, and other generated project files
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/

# Ignore other folders or files you don't need
/Assets/**/*.meta
/Assets/Scenes/
/Assets/Plugins/
/Assets/Editor/
